<template>
    <div>
        <div class="cfp" v-if="this.$store.state.admindata[0].status == 'lock'">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h5><span class="fa fa-lock"></span> Administrator</h5>
                    <router-link to="/balot" exact class="btn btn-primary btn-sm"><span class="fa fa-remove"></span> Cancel</router-link>
                </div>
                <h6>Enter valid key to continue...</h6>
                <div class="btn-group col">
                    <input v-model="key" type="password" class="form-control">
                    <button @click="validate()" class="btn btn-success"> Validate</button>
                </div>
            </div>
        </div>
        <div class="modal fade" aria-hidden="true" id="deleteCandidate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Do wish to proceed?</h6>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-secondary btn-sm"><span class="fa fa-remove"></span> Cancel</button>
                        <button @click="removeCandidate()" data-dismiss="modal" class="btn btn-danger btn-sm"><span class="fa fa-save"></span> Proceed</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" aria-hidden="true" id="editCandidate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Candidate Information</h6>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Last Name</label>
                                <input v-model="input.lname" type="text" class="form-control">
                            </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input v-model="input.fname" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>MI</label>
                            <input maxlength="1" v-model="input.mi" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Position</label>
                            <select v-model="input.position" id="" class="form-control">
                                <option selected value="President">President</option>
                                <option value="Vice-President">Vice-President</option>
                                <option value="Secretary">Secretary</option>
                                <option value="Treasurer">Treasurer</option>
                                <option value="Auditor">Auditor</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-secondary btn-sm"><span class="fa fa-remove"></span> Cancel</button>
                        <button @click="saveCandidate()" data-dismiss="modal" class="btn btn-success btn-sm"><span class="fa fa-save"></span> Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body display-form">
            <div class="sidebar">
                <router-link to="/candidates" exact><span class="fa fa-group"></span> Candidates</router-link>
                <router-link to="/addcandidate" exact><span class="fa fa-user"></span> Add Candidate</router-link>
                <router-link to="/electiondetails" exact><span class="fa fa-gears"></span> Election Details</router-link>
                <a href="#" @click="lockadmin()"><span class="fa fa-lock"></span> Lock Admin</a>
            </div>
        </div>
        <div style="position: fixed; margin-left: 250px; width: 83%; height: 490px; overflow-Y: scroll;">
            <h6><span class="fa fa-flag"></span> Candidates for President</h6>
            <div v-for="president in presidents" :key="president.id" class="modal-header candidates-list">
                <p class="col-md-5">Name: {{ president.lname }}, {{ president.fname }} {{ president.mi }}.</p>
                <p>{{ president.votes }} Votes</p>
                <div>
                    <button @click="deleteCandidate(president, president.id)" data-toggle="modal" data-target="#deleteCandidate" class="btn btn-danger btn-sm mr-1"><span class="fa fa-remove"></span></button>
                    <button @click="editCandidate(president, president.id)" data-toggle="modal" data-target="#editCandidate" class="btn btn-success btn-sm"><span class="fa fa-edit"></span></button>
                </div>
            </div>
            <h6><span class="fa fa-flag"></span> Candidates for Vice-President</h6>
            <div v-for="vice in vices" :key="vice.id" class="modal-header candidates-list">
                <p class="col-md-5">Name: {{ vice.lname }}, {{ vice.fname }} {{ vice.mi }}.</p>
                <p>{{ vice.votes }} Votes</p>
                <div>
                    <button @click="deleteCandidate(vice, vice.id)" data-toggle="modal" data-target="#deleteCandidate" class="btn btn-danger btn-sm mr-1"><span class="fa fa-remove"></span></button>
                    <button @click="editCandidate(vice, vice.id)" data-toggle="modal" data-target="#editCandidate" class="btn btn-success btn-sm"><span class="fa fa-edit"></span></button>
                </div>
            </div>
            <h6><span class="fa fa-flag"></span> Candidates for Secretary</h6>
            <div v-for="secretary in secretarys" :key="secretary.id" class="modal-header candidates-list">
                <p class="col-md-5">Name: {{ secretary.lname }}, {{ secretary.fname }} {{ secretary.mi }}.</p>
                <p>{{ secretary.votes }} Votes</p>
                <div>
                    <button @click="deleteCandidate(secretary, secretary.id)" data-toggle="modal" data-target="#deleteCandidate" class="btn btn-danger btn-sm mr-1"><span class="fa fa-remove"></span></button>
                    <button @click="editCandidate(secretary, secretary.id)" data-toggle="modal" data-target="#editCandidate" class="btn btn-success btn-sm"><span class="fa fa-edit"></span></button>
                </div>
            </div>
            <h6><span class="fa fa-flag"></span> Candidates for Treasurer</h6>
            <div v-for="treasurer in treasurers" :key="treasurer.id" class="modal-header candidates-list">
                <p class="col-md-5">Name: {{ treasurer.lname }}, {{ treasurer.fname }} {{ treasurer.mi }}.</p>
                <p>{{ treasurer.votes }} Votes</p>
                <div>
                    <button @click="deleteCandidate(treasurer, treasurer.id)" data-toggle="modal" data-target="#deleteCandidate" class="btn btn-danger btn-sm mr-1"><span class="fa fa-remove"></span></button>
                    <button @click="editCandidate(treasurer, treasurer.id)" data-toggle="modal" data-target="#editCandidate" class="btn btn-success btn-sm"><span class="fa fa-edit"></span></button>
                </div>
            </div>
            <h6><span class="fa fa-flag"></span> Candidates for Auditor</h6>
            <div v-for="auditor in auditors" :key="auditor.id" class="modal-header candidates-list">
                <p class="col-md-5">Name: {{ auditor.lname }}, {{ auditor.fname }} {{ auditor.mi }}.</p>
                <p>{{ auditor.votes }} Votes</p>
                <div>
                    <button @click="deleteCandidate(auditor, auditor.id)" data-toggle="modal" data-target="#deleteCandidate" class="btn btn-danger btn-sm mr-1"><span class="fa fa-remove"></span></button>
                    <button @click="editCandidate(auditor, auditor.id)" data-toggle="modal" data-target="#editCandidate" class="btn btn-success btn-sm"><span class="fa fa-edit"></span></button>
                </div>
            </div>    
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default{
        name: 'Candidates',
        data() {
            return{
                input: {
                    id: '',
                    lname: '',
                    fname: '',
                    mi: '',
                    position: ''
                },
                key: ''
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
            this.$store.dispatch('fetchPresident');
            this.$store.dispatch('fetchVice');
            this.$store.dispatch('fetchSecretary');
            this.$store.dispatch('fetchTreasurer');
            this.$store.dispatch('fetchAuditor');
        },
        computed: {
            ...mapState(['admindata']),
            ...mapState(['presidents']),
            ...mapState(['vices']),
            ...mapState(['secretarys']),
            ...mapState(['treasurers']),
            ...mapState(['auditors']),
        },
        methods: {
            validate(){
                if(this.key == ""){
                    this.warningMessage("Please input a valid key");
                }else{
                    if(this.key == this.$store.state.admindata[0].adminkey){
                        this.$store.dispatch('unlockadmin');
                    }else{
                        this.warningMessage("Key is invalid");
                    }
                } 
            },
            lockadmin() {
                this.$store.dispatch('lockadmin');
            },
            editCandidate(data, id){
                this.input.id = id;
                this.input.lname = data.lname;
                this.input.fname = data.fname;
                this.input.mi = data.mi;
                this.input.position = data.position;
            },
            deleteCandidate(data, id){
                this.input.id = id;
                this.input.lname = data.lname;
                this.input.fname = data.fname;
                this.input.mi = data.mi;
                this.input.position = data.position;
            },
            removeCandidate(){
                this.$store.dispatch('deleteCandidate', this.input);
            },
            saveCandidate(){
                if(this.input.fname == ""){
                    this.warningMessage("First name field can't be empty.");
                }
                if(this.input.lname == ""){
                    this.warningMessage("Last name field can't be empty.");
                }
                if(this.input.mi == ""){
                    this.warningMessage("Middle innitial field can't be empty.");
                }
                if(this.input.position == ""){
                    this.warningMessage("Position field can't be empty.");
                }
                this.successMessage("Candidate Registered Successfuly.");
                this.$store.dispatch('editCandidate', this.input);
                this.input.fname = "";
                this.input.lname = "";
                this.input.mi = "";
                this.input.position = "";
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    };
</script>