<template>
     <div id="Sidebar" class="sidebar_container">
            <div class="header">
                <h5>Library Management System</h5>
            </div>
            <div class="a_container">
                <a><span><img class="sidebar_icons mar_top" src="../assets/img/dashboard_dark.png"></span>Dashboard</a>
                <a><span><img class="sidebar_icons" src="../assets/img/patron_dark.png"></span>Patron Management</a>
                <a><span><img class="sidebar_icons" src="../assets/img/book_dark.png"></span>Book Managment</a>
                <a><span><img class="sidebar_icons" src="../assets/img/setting_dark.png"></span>Settings</a>
            </div>
            <hr>
     </div>
</template>

<script>
    export default{
        name: 'Sidebar'
    }
</script>