<template>
    <div id="Book" class="display_container">
        <div class="modal_add_book">
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal_head">
                                <h6 class="modal-title" id="addModallabel">ADD BOOKS</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="POST">
                                <div class="modal-body">           
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input id="title" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="author">Author</label>
                                        <input id="author" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="copies">Copies</label>
                                        <input id="copies" type="number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select id="category" name="" class="form-control">
                                            <option value="fantasy">Fantasy</option>
                                            <option value="thriller">Thriller</option>
                                            <option value="drama">Drama</option>
                                            <option value="action">Action</option>
                                            <option value="mystery">Mystery</option>
                                            <option value="history">History</option>
                                            <option value="technology">Technology</option>
                                            <option value="science">Science</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-primary">Add</button>
                                </div>
                            </form>  
                        </div>
                    </div>
            </div>       
        </div>
        <div class="modal_delete_book">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal_head">
                            <h6 class="modal-title" id="deleteModallabel">CONFIRMATION</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this book?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
            <Sidebar/>
            <div class="display_area">
                <h4>BOOK MANAGEMENT</h4>
                <hr>
                <div class="table_container">
                    <button class="btn btn-dark" data-toggle="modal" data-target="#addModal">Add Book</button>
                    <input class="form-control" type="text" placeholder="Search">
                        <table class="table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Copies</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Secret Love</td>
                                <td>Conan Adoyle</td>
                                <td>87</td>
                                <td>Drama</td>
                                <td style="width: 200px;">
                                    <div class="table_btn">
                                        <button class="btn btn-warning">Edit</button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                        <button class="btn btn-success">Borrow</button>
                                        <button class="btn btn-primary">Return</button>
                                    </div>
                                </td>
                            </tr> 
                        </table>
                </div>
            </div>
    </div>
</template>

<script>
    import Sidebar from './components/Sidebar.vue'

    export default{
       name: 'Book',
       components: {
           Sidebar
       }
    }
</script>