<template>
    <div id="Dashboard" class="display_container">
            <Sidebar/>
            <div class="display_area">
                <h4>DASHBOARD</h4>
                <hr>
                <div class="table_container_for_dashboard">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="chart_container">
                                 <Bar/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart_container">
                                <Doughnut/>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
</template>

<script>
    import Sidebar from './components/Sidebar.vue'
    import Doughnut from  './Doughnut.vue'
    import Bar from './Bar.vue'
    export default{
       name: 'Dashboard',
       components: {
           Sidebar,
           Doughnut,
           Bar
       }
    } 
</script>