<template>
    <div id="Patron" class="display_container">
        <div class="modal_add_patron">
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal_head">
                                <h6 class="modal-title" id="addModallabel">ADD PATRON</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="POST">
                                <div class="modal-body">           
                                        <div class="form-group">
                                            <label for="fname">First Name</label>
                                            <input id="fname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="sname">Middle Name</label>
                                            <input id="sname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="lname">Last Name</label>
                                            <input id="lname" type="text" class="form-control">
                                        </div>
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input id="email" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-success">Add</button>
                                </div>
                            </form>  
                        </div>
                    </div>
            </div>       
        </div>

        <div class="modal_delete_patron">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal_head">
                            <h6 class="modal-title" id="deleteModallabel">CONFIRMATION</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this entry?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
            <Sidebar/>
            <div class="display_area">
                <h4>PATRON MANAGEMENT</h4>
                <hr>
                <div class="table_container">
                    <button class="btn btn-dark" data-toggle="modal" data-target="#addModal">Add Patron</button>
                    <input class="form-control" type="text" placeholder="Search">
                        <table class="table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Date Registered</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Blane Cyndelle Corales</td>
                                <td>blanecyndelle.corales@gmail.com</td>
                                <td>2-20-2020</td>
                                <td style="width: 200px;">
                                    <div class="table_btn">
                                        <button class="btn btn-warning">Edit</button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                    </div>
                                </td>
                            </tr> 
                        </table>
                    <!--end table-->
                </div>
            </div>
        <!--end of Patron display component-->
    </div>
</template>

<script>
    import Sidebar from './components/Sidebar.vue'

    export default{
       name: 'Patron',
       components: {
           Sidebar
       }
    }
</script>