.header{
    background-color: #343a40;
    padding-top: 1%;
    width: 1000%;
    padding-bottom: 2%;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 5px 10px rgba(100, 100, 100, 0.6);
}

.header h5{
    margin-bottom: 1%;
    padding-top: 1%;
    font-size: 18px;
    color: white;
    margin-left: 2%;
    font-size: 20px;
}

.sidebar_container{
    background: rgb(238, 237, 237);
    margin-left: -26px;
    position: fixed;
    width: 250px;
    height: 100%;
    box-shadow:inset 5px 10px 10px rgba(0, 0, 0, 0.075),  5px 0 10px rgba(100, 100, 100, 0.6);
}

.a_container{
    margin-top: 10%;
}
.sidebar_container a{
    color: rgb(71, 71, 71);
    display: block;
    text-decoration: none;
    line-height: 37px;
    padding-left: 50px;
    font-size: 13px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
}

.sidebar_container a:hover{
    background: rgb(151, 150, 150);
    text-decoration: none;
    color: white;
}

.sidebar_container hr{
    width: 80%;
    margin-left: 15%;
}

.sidebar_icons{
    margin-top: -6px;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.display_area{
    width: 83.5%;
    height: 100%;
    position: fixed;
    margin-left: 16.5%;
    margin-top: 6.3%;
    padding: 1%;
}

.display_area h4{
    color: rgb(88, 88, 88);
}
.modal_head{
    background-color:#343a40;
    color: white;
}
.table_container{
    padding: 2%;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    height: 8000px;
}

.table_container img{
    margin-top: -9px;
    width: 15px;
    height: 20px;
}

.table_container button{
    color: white;
}


.table_btn button{
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100px;
}

.table_container button:hover{
    color: rgb(80, 79, 79);
}

.table_container input{
    margin-left: 70%;
    margin-right: 1%;
    margin-top: -35px;
    margin-bottom: 20px;

    width: 30%;
}

table
{
    margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0 10px rgba(99, 95, 95, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(99, 95, 95, 0.6);
}

thead{
    background-color:#343a40;
}

th
{
    text-align: center;
	font-size: 15px;
	height: 32px;
    color: #fff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

td{
	height: 30px;
    font-size: 15px;
    background-color: rgb(250, 250, 255);
    text-align: center;
}

.chart_container{
    margin-top: 20px;
    margin-left: 2%;
    padding-top: 5%;
    padding-left: 1%;
    width: 525px;
    height: 300px;
}
